<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Noticia</title>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navigation") %>
    <br><br>
    
    <div class="container p-4">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <form action="/edit/<%= image._id %>/put" method="get" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" name="title" value="<%= image.title %>" placeholder="Titulo" class="form-control">
                            </div>                            
                            <div class="form-group">
                                <!-- <input type="text" name="description"  value="<%= image.description %>" placeholder="Titulo" class="form-control"> -->
                                <textarea name="description" cols="30" rows="10" class="form-control" placeholder=""><%= image.description %></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input  type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Seleccione Una Foto</label>
                                </div>                                
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <%- include("partials/about") %>
    <%- include("partials/footer") %>
</body>
</html>