<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIC PARTNER</title>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navigation") %>
    <br><br>

 <div class="container p-4">
           <div class="row">
            
                <% images.forEach(function(image){ %>
                    <div class="col-md-4 p-4">
                    <div class="card">
                        <a href="/image/<%= image._id %>" >
                            <img src="<%= image.path %>" class="img-card-top w-100" a href="/image/<%= image._id %>">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><%= image.title %></h5>
                            <p class="card-text"><%= format(image.created_at) %></p>
                            <p class="card-text">TPs <%= image.tp %></p>
                            <a href="/image/<%= image._id %>" class="btn btn-primary">
                                Ver noticia
                            </a>
                            <a href="/edit/<%= image._id %>" class="btn btn-primary">
                                Editar Noticia
                            </a>
                           <!--  <form method="put"> 
                                <a href="/tp/<%= image._id %>"  class="btn btn-primary">
                                    Dar TP
                                </a>
                            </form> -->
                        </div>
                    </div>
                </div>
                <% }) %>
            
            </div>
    </div>
    


    <br><br>
    <%- include("partials/about") %>
    <%- include("partials/footer") %>
</body>
</html>