<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIC PARTNER</title>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navigation") %>
    <br><br>
    
    <div class="container p-4">
        <div class="row">
            <div class="card-columns">
                <% images.forEach(function(image){ %>
                    <div class="card">
                        <img src="<%= image.path %>" class="card-img-top">
                        <div class="card-body">
                            <div class="card-body">
                                <h5 class="card-title"><%= image.title %></h5>

                                <p class="card-text"><%= format(image.created_at) %></p>
                                <a href="/image/<%= image._id %>" class="btn btn-primary">
                                    Ver noticia
                                </a>
                            </div>
                        </div>
                        
                    </div>
                <% }) %> 
            </div>
        </div>
    </div>

    <br><br>
    <%- include("partials/about") %>
    <%- include("partials/footer") %>
</body>
</html>