<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticia</title>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navigation") %>
    <br><br>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                    <div class="card animated fadeInDown">
                        
                        <div class="card-body">
                            <div class="card-body">
                                <h5 class="card-title"><%= image.title %></h5>
                                <p class="card-text"><%= image.description %></p>
                                <p class="card-text"><%= format(image.created_at) %></p>
                                <a href="/" class="btn btn-primary">
                                    Volver a Noticias
                                </a>
                                <a href="/edit/<%= image._id %>" class="btn btn-primary">
                                    Editar Noticia
                                </a>
                                <a href="/image/<%= image._id %>/delete" class="btn btn-danger">
                                    Borrar Noticia
                                </a>
                                <br><br>
                                <img src="<%= image.path %>" class="card-img-top">
                            </div>
                        </div>
                        
                    </div>
            </div>
        </div>
    </div>

    <br><br>
    <%- include("partials/about") %>
    <%- include("partials/footer") %>
</body>
</html>