<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar imagen</title>
    <!--BOOTSTRAP4 JS-->
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navigation") %>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Titulo" class="form-control">
                            </div>                            
                            <div class="form-group">
                                <textarea name="description" cols="30" rows="10" class="form-control" placeholder="Descripcion"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input  type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Seleccione Una Foto</label>
                                </div>                                
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/about") %>
    <%- include("partials/footer") %>
</body>
</html>
