<div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
            <i class="fas fa-cogs fa-8x"></i>
        </div>
        <div class="col-sm-6">
            <h3>Ser partners, es cumplir las metas juntos</h3>
            <p>Llevamos más de 10 años transformando las necesidades de nuestros clientes en soluciones tecnológicas, logrando que optimicen recursos y procesos en sus hogares y negocios.</p>
        </div>
    </div>
</div>