<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <img src="../../img/logo-tp.png" class="animate__animated animate__bounceIn" alt="Logo TP" width="250" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Noticias </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about"><i class="fas fa-building"></i> Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-envelope"></i> Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload"><i class="fas fa-user"></i> Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>